{{#extends 'base'}}
{{#block 'content'}}

{{#if searchResultsCount}}
<div class="alert alert-success mt-4">
    <span>{{searchResultsCount}} Order(s) found</span>
</div>
{{/if}}
{{#unless searchResultsCount}}
<div class="alert alert-danger mt-4">
    <span>No order found</span>
</div>
{{/unless}}

<div class="accordion my-4" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <strong><i class="bi bi-search me-2"></i>Search & Filter</strong>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form method="GET">
                    {{{form}}}
                    <input type="submit" class="my-2 btn btn-primary" value="Search" />
                </form>
            </div>
        </div>
    </div>
</div>

<h2 class="display-6 pt-4">All Products</h2>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Shipping Address</th>
            <th>Total Amount</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>

    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.user.first_name}} {{this.user.last_name}}
            </td>
            <td>
                {{this.user.email}}
            </td>
            <td>
                {{this.shipping_address_line1}} <br />
                {{this.shipping_address_line2}} <br />
                {{this.shipping_address_postal}}
            </td>
            <td>
                {{centsToDollars this.total_amount}}
            </td>
            <td>
                {{convertIsoDate this.order_date}}
            </td>
            <td>
                {{this.status.name}}
            </td>


            <td>
                <div class="pt-1 mb-2">
                    <a class="rounded text-decoration-none py-1" href="/orders/{{this.id}}/items"
                        style="background-color:black" onMouseOver="this.style.backgroundColor='white'"
                        onMouseOut="this.style.backgroundColor='black'">
                        <span class="p-2" style="color:white" onMouseOver="this.style.color='black'"
                            onMouseOut="this.style.color='white'">View Order</span>
                    </a>
                </div>


            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}
{{/extends}}