{{#extends 'base'}}

{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Description</th>
            <th>Dimension</th>
            <th>Weight</th>
            <th>Material</th>
            <th>Brand</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>

    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.cost}}
            </td>
            <td>
                {{this.description}}
            </td>
            <td>
                {{this.length}} x {{this.width}} x {{this.height}}
            </td>
            <td>
                {{this.weight}}
            </td>
            <td>
                {{this.material.name}}
            </td>
            <td>
                {{this.brand.name}}
            </td>
            <td>
                {{this.stock}}
            </td>
            <td>
                <div class="d-flex">
                    <a class="rounded" href="/products/{{this.id}}/update" style="background-color:black"
                        onMouseOver="this.style.backgroundColor='white'"
                        onMouseOut="this.style.backgroundColor='black'"><big><i class="bi bi-pencil-square p-1"
                                style="color:white" onMouseOver="this.style.color='black'"
                                onMouseOut="this.style.color='white'"></i></big></a>

                    <a class="rounded ms-1" href="/products/{{this.id}}/delete" style="background-color:black"
                        onMouseOver="this.style.backgroundColor='white'"
                        onMouseOut="this.style.backgroundColor='black'"><big><i class="bi bi-trash3-fill p-1"
                                style="color:white" onMouseOver="this.style.color='black'"
                                onMouseOut="this.style.color='white'"></i></big></a>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}