{{#extends 'base'}}

{{#block 'content'}}
<div class="d-flex justify-content-end">
    <a class="rounded text-decoration-none py-1" href="/products/create" style="background-color:black"
        onMouseOver="this.style.backgroundColor='white'" onMouseOut="this.style.backgroundColor='black'">
        <span class="p-2" style="color:white" onMouseOver="this.style.color='black'"
                onMouseOut="this.style.color='white'">Add Product</span>
        </a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Cost (SGD)</th>
            <th>Dimension(cm)<br />(L x W x H)</th>
            <th>Weight (g)</th>
            <th>Material</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Features</th>
            <th>Actions</th>
        </tr>

    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.description}}
            </td>
            <td>
                {{this.cost}}
            </td>
            <td>
                {{mmToCm this.length}} x {{mmToCm this.width}} x {{mmToCm this.height}}
            </td>
            <td>
                {{this.weight}}
            </td>
            <td>
                {{this.material.name}}
            </td>
            <td>
                {{this.brand.name}}
            </td>
            <td>
                {{this.category.name}}
            </td>
            <td>
                {{#each this.features}}
                <span class="badge bg-primary">{{this.name}}</span>
                {{/each}}
            </td>
            <td>
                <div class="d-flex">
                    <a class="rounded" href="/products/{{this.id}}/variant" style="background-color:black"
                        onMouseOver="this.style.backgroundColor='white'"
                        onMouseOut="this.style.backgroundColor='black'"><big><i class="bi bi-files p-1"
                                style="color:white" onMouseOver="this.style.color='black'"
                                onMouseOut="this.style.color='white'"></i></big></a>

                    <a class="rounded mx-1" href="/products/{{this.id}}/update" style="background-color:black"
                        onMouseOver="this.style.backgroundColor='white'"
                        onMouseOut="this.style.backgroundColor='black'"><big><i class="bi bi-pencil-square p-1"
                                style="color:white" onMouseOver="this.style.color='black'"
                                onMouseOut="this.style.color='white'"></i></big></a>

                    <a class="rounded" href="/products/{{this.id}}/delete" style="background-color:black"
                        onMouseOver="this.style.backgroundColor='white'"
                        onMouseOut="this.style.backgroundColor='black'"><big><i class="bi bi-trash3-fill p-1"
                                style="color:white" onMouseOver="this.style.color='black'"
                                onMouseOut="this.style.color='white'"></i></big></a>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}