{{#extends 'base'}}

{{#block 'content'}}
<h2 class="pt-4 display-6">Delete {{variant.color.name}} Variant</h2>
<p class="pb-3 lead text-muted">{{product.name}} (Product ID: #{{product.id}})</p>

<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <div class="alert alert-danger">
        <p><big><i class="bi bi-exclamation-triangle-fill"></i></big> Are you sure you want to delete this variant?</p>
        <table class="table">
            <thead>
                <tr class="table-light border-dark">
                    <th>Image</th>
                    <th>Color</th>
                    <th>Stock</th>
                </tr>
            </thead>

            <tbody>
                <tr class="table-light">
                    <td>
                        <img src="{{variant.thumbnail_url}}" />
                    </td>
                    <td class="pt-4">
                        {{variant.color.name}}
                    </td>
                    <td class="pt-4">
                        {{variant.stock}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-end">
            <a href="/products/{{variant.product_id}}/variants" class="btn btn-outline-secondary">Cancel</a>
            <input type="submit" class="btn btn-danger" value="Delete Variant" />
        </div>
    </div>
</form>
{{/block}}
{{/extends}}