{{#extends 'base'}}

{{#block 'content'}}
<div class="d-flex justify-content-end">
    <a class="rounded text-decoration-none py-1" href="/products/create" style="background-color:black"
        onMouseOver="this.style.backgroundColor='white'" onMouseOut="this.style.backgroundColor='black'">
        <span class="p-2" style="color:white" onMouseOver="this.style.color='black'"
            onMouseOut="this.style.color='white'">Add Product</span>
    </a>
</div>

<h2 class="display-6 pt-3">Product</h2>
<table class="table">
    <thead>
        <tr class="table-dark border-dark">
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Cost (SGD)</th>
            <th>Dimension(cm)<br />(L x W x H)</th>
            <th>Weight (g)</th>
            <th>Material</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Features</th>
            {{!-- <th>Actions</th> --}}
        </tr>

    </thead>
    <tbody>
        <tr class="table-secondary">
            <td>
                {{product.id}}
            </td>
            <td>
                {{product.name}}
            </td>
            <td>
                {{product.description}}
            </td>
            <td>
                {{product.cost}}
            </td>
            <td>
                {{mmToCm product.length}} x {{mmToCm product.width}} x {{mmToCm product.height}}
            </td>
            <td>
                {{product.weight}}
            </td>
            <td>
                {{product.material.name}}
            </td>
            <td>
                {{product.brand.name}}
            </td>
            <td>
                {{product.category.name}}
            </td>
            <td>
                {{#each product.features}}
                <span class="badge bg-primary">{{this.name}}</span>
                {{/each}}
            </td>
            {{!-- <td>
                <div class="d-flex">
                    <a class="rounded me-1" href="/products/{{this.id}}/update" style="background-color:black"
                        onMouseOver="this.style.backgroundColor='white'"
                        onMouseOut="this.style.backgroundColor='black'"><big><i class="bi bi-pencil-square p-1"
                                style="color:white" onMouseOver="this.style.color='black'"
                                onMouseOut="this.style.color='white'"></i></big></a>

                    <a class="rounded" href="/products/{{this.id}}/delete" style="background-color:black"
                        onMouseOver="this.style.backgroundColor='white'"
                        onMouseOut="this.style.backgroundColor='black'"><big><i class="bi bi-trash3-fill p-1"
                                style="color:white" onMouseOver="this.style.color='black'"
                                onMouseOut="this.style.color='white'"></i></big></a>
                </div>
            </td> --}}
        </tr>
    </tbody>
</table>

<h2 class="display-6 pt-5">Color Variants</h2>
<table class="table table-hover">
    <thead>
        <tr class="table-dark border-dark">
            <th>Image</th>
            <th>Color</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>

    </thead>
    <tbody>
        {{#each variants}}
        <tr>
            <td>
            
            </td>
            <td>
                {{this.color.name}}
            </td>
            <td>
                {{this.stock}}
            </td>
            <td>
                <div class="d-flex">
                    <a class="rounded me-1" href="/products/{{this.id}}/update" style="background-color:black"
                        onMouseOver="this.style.backgroundColor='white'"
                        onMouseOut="this.style.backgroundColor='black'"><big><i class="bi bi-pencil-square p-2"
                                style="color:white" onMouseOver="this.style.color='black'"
                                onMouseOut="this.style.color='white'"></i></big></a>

                    <a class="rounded" href="/products/{{this.id}}/delete" style="background-color:black"
                        onMouseOver="this.style.backgroundColor='white'"
                        onMouseOut="this.style.backgroundColor='black'"><big><i class="bi bi-trash3-fill p-2"
                                style="color:white" onMouseOver="this.style.color='black'"
                                onMouseOut="this.style.color='white'"></i></big></a>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}